.direnv
.github
.sqlite
example
node_modules
result
.editorconfig
.idea
.vscode
dist
coverage*
Makefile
helm-charts
.dockerignore
compose*
docker-compose*
.env
.git
.gitignore
biome.json
Dockerfile*
README.md
LICENSE
tsconfig.json