.direnv
.github
.sqlite
example
node_modules
result
.editorconfig
.idea
.vscode
dist
.dockerignore
compose*
docker-compose*
.env*
.git
.gitignore
biome.json
Dockerfile*
README.md
tsconfig.json
img
docs